@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@100;400;700&display=swap');

* {
  margin: 0;
  font-family: "Poppins";
  color: black;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 15px 40px;
  border-bottom: 1px solid #b3b3b3;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color:rgb(39, 128, 253);
}

.home {
  display: flex;
  justify-content: center;
  /* border: blue 1px solid; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1em;
  padding: 30px;
  min-width: 600px;
  text-align: center;
}

.password-options {
  text-align: center;
  margin-top: 50px;
}

.password-options h2 {
  border-bottom: 1px #333 solid;
}

.pass-option-container {
  margin-top: 10px;
  display: flex;
}

.pass-length {
  display: flex;
  flex-direction: column;
}

.pass-length-inputs { 
  display: flex;
}

/* .pass-char-options input{
  align-items:flex-start;
} */

.pass-char-options li {
  list-style: none;
  text-align: left;
}

.pass-char-options label {
  margin-left: 5px;
}

/* .password-text-box {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
} */